@import "bootstrap";

.greybar {
	background-color: gray;
	color: white;
	a{
		color:black;
	}
}

.blackbar {
	background-color: black;
	color: white;
}

.mainbar {
	padding: 20px;
}

#comment-toggle {
	border: 1px solid white;
	color:white;
	display:inline-block;
	padding: 5px;
}